@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Area 51 Tools</h1>
    <p class="lead">Add FNGs, view upcoming schedules, and read most recent backblasts.</p>
    <p>@Html.ActionLink("Add FNG", MVC.Home.Actions.Fng(),new{ @class="btn btn-primary btn-lg" }, "https")</p>
</div>

