@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Area51 Tools</h1>
    @*<p class="lead">Add FNGs</p>*@
    <p>@Html.ActionLink("Add FNG", MVC.Home.Actions.Fng(),new{ @class="btn btn-primary btn-lg" }, "https")</p>
</div>

