@using System.Web.Http
@using F3Mobile.Code
@{
    ViewBag.Title = "Schedule";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.UseRequire = false;
}

<div id="container" ng-app="ScheduleApp">
    <select ng-options='r.label for r in regions track by r.label' ng-model="region" ng-change="setSelected()" class="form-control" style="margin-bottom: 5px;"></select>
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" ng-class="{active: $route.current.activeTab == 'week'}" class="active"><a href="#week" aria-controls="current" role="tab" data-toggle="tab">This Week</a></li>
        <li role="presentation" ng-class="{active: $route.current.activeTab == 'schedule'}"><a href="#schedule" aria-controls="firstF" role="tab" data-toggle="tab">1st F Info</a></li>
        <li role="presentation" ng-class="{active: $route.current.activeTab == 'stats'}"><a href="#stats" aria-controls="firstF" role="tab" data-toggle="tab">Stats</a></li>
    </ul>

    <ng-view></ng-view>
</div>


@section scripts
{
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.2.9/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/1.1.2/angularfire.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/angular-resource.min.js"></script>
    <script src="~/Scripts/angular-cookies.min.js"></script>
    <script src="~/Scripts/angular-moment.min.js"></script>
    <script src="//rawgithub.com/jashkenas/underscore/master/underscore.js"></script>

    <script src="~/Scripts/scheduleApp.js"></script>
    <script src="~/Scripts/controllers/scheduleController.js"></script>
    <script src="~/Scripts/controllers/weekController.js"></script>
    <script src="~/Scripts/controllers/leaderboardController.js"></script>
    <script src="~/Scripts/services/calendarService.js"></script>
    <script src="~/Scripts/services/regionService.js"></script>
    <script src="~/Scripts/services/leaderService.js"></script>

}

