<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th width="100">Name</th>
                <th>Day</th>
                <th>Site Q</th>
                <th>Location</th>
            </tr>
        </thead>
        <tbody>
            {{#.}}
            <tr>
                <td>{{Summary}}{{#Time}}</br>{{Time}}{{/Time}}</td>
                <td>{{Meets}}</td>
                <td>{{SiteQ}}</td>
                <td><a href="https://www.google.com/maps?q={{Location}}"><span class="glyphicon glyphicon-map-marker"></span> {{DisplayLocation}}</a><br />{{#LocationHint}}({{LocationHint}}){{/LocationHint}}</td>
            </tr>
            {{/.}}
        </tbody>
    </table>
</div>