<div class="table-responsive">
    <div ng-show="vm.showStrava">
        <a href="" ng-click="vm.login()"><img src="/Content/images/LogInWithStrava.png"/></a>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>&nbsp;</th>
            <th>Name</th>
            <th>Activity Count</th>
            <th>Total Miles</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="cal in vm.list track by $index | orderBy:['-TotalMiles','-ActivityCounty']">
            <td><img src="{{cal.ProfilePic}}" width="25" height="25"/></td>
            <td>{{cal.LastName}}</td>
            <td>{{cal.ActivityCount}}</td>
            <td>{{cal.TotalMiles | number:2}}</td>
        </tr>

        </tbody>
    </table>
</div>