<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.29.0" newVersion="4.2.29.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="ServiceAccountEmail" value="16226295143-qfmu8gcoipe9d3c4u76omkqkd3ht59in@developer.gserviceaccount.com" />
    <add key="clientSecret" value="notasecret" />
    <add key="MailChimpApiKey" value="" />
    <add key="F3List" value="" />
    <add key="CertificateName" value="F3Test-c745d0ff8c8e.p12" />
    <add key="UserToImpersonate" value="" />
  </appSettings>
</configuration>