<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="6.2.2" targetFramework="net471" />
  <package id="BouncyCastle" version="1.7.0" targetFramework="net471" />
  <package id="FirebaseSharp" version="1.0.0.5" targetFramework="net471" />
  <package id="FirebaseTokenGenerator" version="2.0.0.0" targetFramework="net471" />
  <package id="FireSharp" version="2.0.3" targetFramework="net471" />
  <package id="FluentDateTime" version="1.12.0" targetFramework="net471" />
  <package id="Google.Apis" version="1.38.0" targetFramework="net471" />
  <package id="Google.Apis.Auth" version="1.38.0" targetFramework="net471" />
  <package id="Google.Apis.Calendar.v3" version="1.38.0.1508" targetFramework="net471" />
  <package id="Google.Apis.Core" version="1.38.0" targetFramework="net471" />
  <package id="Google.Apis.Oauth2.v1" version="1.9.0.860" targetFramework="net471" />
  <package id="Google.Apis.Sheets.v4" version="1.38.0.1517" targetFramework="net471" />
  <package id="Google.GData.Client" version="2.2.0.0" targetFramework="net471" />
  <package id="Google.GData.Contacts" version="2.2.0.0" targetFramework="net471" />
  <package id="Google.GData.Extensions" version="2.2.0.0" targetFramework="net471" />
  <package id="Google.GData.Spreadsheets" version="2.2.0.0" targetFramework="net471" />
  <package id="JWT" version="1.3.4" targetFramework="net471" />
  <package id="log4net" version="2.0.3" targetFramework="net471" />
  <package id="MailChimp.Net.V3" version="3.0.0" targetFramework="net471" requireReinstallation="true" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net471" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net471" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net471" />
  <package id="Microsoft.Extensions.Configuration" version="2.2.0" targetFramework="net471" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="2.2.0" targetFramework="net471" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="2.2.0" targetFramework="net471" />
  <package id="Microsoft.Extensions.Configuration.Json" version="2.2.0" targetFramework="net471" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.2.0" targetFramework="net471" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="2.2.0" targetFramework="net471" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="2.2.0" targetFramework="net471" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="2.2.0" targetFramework="net471" />
  <package id="Microsoft.Extensions.Options" version="2.2.0" targetFramework="net471" />
  <package id="Microsoft.Extensions.Primitives" version="2.2.0" targetFramework="net471" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net471" />
  <package id="Microsoft.NETCore.Platforms" version="2.2.0" targetFramework="net471" />
  <package id="Microsoft.Owin" version="4.0.1" targetFramework="net471" />
  <package id="Microsoft.Owin.Security" version="4.0.1" targetFramework="net471" />
  <package id="Microsoft.Owin.Security.Google" version="4.0.1" targetFramework="net471" />
  <package id="NETStandard.Library" version="1.6.1" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net471" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net471" />
  <package id="nJupiter.Web.Syndication" version="4.0.2.516" targetFramework="net471" />
  <package id="Nustache" version="1.15.3.5" targetFramework="net471" />
  <package id="Owin" version="1.0" targetFramework="net471" />
  <package id="ServiceStack.Text" version="3.9.71" targetFramework="net471" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net471" />
  <package id="System.Collections" version="4.3.0" targetFramework="net471" />
  <package id="System.Collections.Concurrent" version="4.3.0" targetFramework="net471" />
  <package id="System.ComponentModel" version="4.3.0" targetFramework="net471" />
  <package id="System.ComponentModel.Annotations" version="4.5.0" targetFramework="net471" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="net471" />
  <package id="System.Diagnostics.Tools" version="4.3.0" targetFramework="net471" />
  <package id="System.Diagnostics.Tracing" version="4.3.0" targetFramework="net471" requireReinstallation="true" />
  <package id="System.Globalization" version="4.3.0" targetFramework="net471" />
  <package id="System.IO" version="4.3.0" targetFramework="net471" requireReinstallation="true" />
  <package id="System.IO.Compression" version="4.3.0" targetFramework="net471" requireReinstallation="true" />
  <package id="System.Linq" version="4.3.0" targetFramework="net471" requireReinstallation="true" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="net471" requireReinstallation="true" />
  <package id="System.Memory" version="4.5.1" targetFramework="net471" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net471" requireReinstallation="true" />
  <package id="System.Net.Primitives" version="4.3.0" targetFramework="net471" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net471" />
  <package id="System.ObjectModel" version="4.3.0" targetFramework="net471" />
  <package id="System.Reflection" version="4.3.0" targetFramework="net471" requireReinstallation="true" />
  <package id="System.Reflection.Extensions" version="4.3.0" targetFramework="net471" />
  <package id="System.Reflection.Primitives" version="4.3.0" targetFramework="net471" />
  <package id="System.Resources.ResourceManager" version="4.3.0" targetFramework="net471" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net471" requireReinstallation="true" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.1" targetFramework="net471" />
  <package id="System.Runtime.Extensions" version="4.3.0" targetFramework="net471" requireReinstallation="true" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="net471" requireReinstallation="true" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net471" />
  <package id="System.Runtime.Numerics" version="4.3.0" targetFramework="net471" />
  <package id="System.Text.Encoding" version="4.3.0" targetFramework="net471" />
  <package id="System.Text.Encoding.Extensions" version="4.3.0" targetFramework="net471" />
  <package id="System.Text.RegularExpressions" version="4.3.0" targetFramework="net471" requireReinstallation="true" />
  <package id="System.Threading" version="4.3.0" targetFramework="net471" />
  <package id="System.Threading.Tasks" version="4.3.0" targetFramework="net471" />
  <package id="System.Threading.Timer" version="4.3.0" targetFramework="net471" />
  <package id="System.Xml.ReaderWriter" version="4.3.0" targetFramework="net471" requireReinstallation="true" />
  <package id="System.Xml.XDocument" version="4.3.0" targetFramework="net471" />
  <package id="Zlib.Portable" version="1.11.0" targetFramework="net471" />
  <package id="Zlib.Portable.Signed" version="1.11.0" targetFramework="net471" />
</packages>