<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FirebaseSharp" version="1.0.0.4" targetFramework="net451" />
  <package id="FirebaseTokenGenerator" version="2.0.0.0" targetFramework="net451" />
  <package id="FluentDateTime" version="1.11.0" targetFramework="net451" />
  <package id="Google.Apis" version="1.9.1" targetFramework="net451" />
  <package id="Google.Apis.Auth" version="1.9.1" targetFramework="net451" />
  <package id="Google.Apis.Calendar.v3" version="1.9.0.1250" targetFramework="net451" />
  <package id="Google.Apis.Core" version="1.9.1" targetFramework="net451" />
  <package id="Google.Apis.Oauth2.v1" version="1.9.0.860" targetFramework="net451" />
  <package id="Google.GData.Client" version="2.2.0.0" targetFramework="net451" />
  <package id="Google.GData.Contacts" version="2.2.0.0" targetFramework="net451" />
  <package id="Google.GData.Extensions" version="2.2.0.0" targetFramework="net451" />
  <package id="Google.GData.Spreadsheets" version="2.2.0.0" targetFramework="net451" />
  <package id="JWT" version="1.3.1" targetFramework="net451" />
  <package id="log4net" version="2.0.3" targetFramework="net451" />
  <package id="MailChimp.NET" version="1.1.75.0" targetFramework="net451" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net451" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net451" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net451" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net451" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net451" />
  <package id="Microsoft.Owin.Security" version="3.0.1" targetFramework="net451" />
  <package id="Microsoft.Owin.Security.Google" version="3.0.1" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net451" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net451" />
  <package id="nJupiter.Web.Syndication" version="4.0.2.516" targetFramework="net451" />
  <package id="Nustache" version="1.15.3.5" targetFramework="net451" />
  <package id="Owin" version="1.0" targetFramework="net451" />
  <package id="ServiceStack.Text" version="3.9.71" targetFramework="net451" />
  <package id="Zlib.Portable" version="1.10.0" targetFramework="net451" />
</packages>